<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590844832860-ig7p5s0d993l4jslcang724qtkukgcuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590844832860-ig7p5s0d993l4jslcang724qtkukgcuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590844832860-brfiv2j3ohcpgcdsh1b1jkghdscn0dt8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_JOWliT6JLb8PD7k_cAhBzpnZfzrB1-w</string>
	<key>GCM_SENDER_ID</key>
	<string>590844832860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.zbra.zpastel</string>
	<key>PROJECT_ID</key>
	<string>zbrapastel</string>
	<key>STORAGE_BUCKET</key>
	<string>zbrapastel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590844832860:ios:dc4c338cb020c8f5bd8a99</string>
	<key>DATABASE_URL</key>
	<string>https://zbrapastel.firebaseio.com</string>
</dict>
</plist>